  "cmd": "/home/bruce/Applications/nim-0.13.0/bin/nim"
  "args": ["compile", "--run", "hello" ]
  "sh": true
  "cwd": "/home/bruce/Git/HelloNim"
  "errorMatch": [
    "^(?<filename>(?:[A-Z]:)?[^:]+):(?<line>[0-9]+).(?<column>[0-9]+)[^:]+: (?<message>.+)"
  ]
