  "cmd": "/home/bruce/Applications/nim-0.13.0/bin/nim"
  "args": ["--out:build/main", "compile", "src/main", "&&", "src/build/main"]
  "sh": true
  "cwd": "/home/bruce/Git/shmupwarz-nim"
  "errorMatch": [
    "^(?<filename>(?:[A-Z]:)?[^:]+):(?<line>[0-9]+).(?<column>[0-9]+)[^:]+: (?<message>.+)"
  ]
